.wrappers {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.first-wrapper, .second-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
  margin-bottom: 50px;
}

.wrapper-img {
  flex: 1;
  max-width: 50%;
  border-radius: 7px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.wrapper-img img {
  width: 100%;
  height: auto;
  border-radius: 7px;
  object-fit: cover;
}

.first-wrapper-content {
  flex: 1;
  text-align: right;
  color: rgb(0, 0, 0);
}

.second-wrapper-content {
  flex: 1;
  text-align: justify;
  color: rgb(0, 0, 0);
}

.btn {
  text-align: center;
}
