.reseaux {
  text-align: justify;
  margin: 20px 0;
  background-color: rgb(211, 211, 245);
  padding: 20px;
  width: 100%;
  border-radius: 7px;
}

.reseaux h3 {
  text-align: center;
  color: rgb(0, 0, 0);
  margin-bottom: 15px;
}

.contenu-icons {
  text-align: center;
  margin: 20px 0;
  line-height: 2;
}
